<div id="content" class="hfeed">
  <div class="page-single post_box">
    <article>
      <div class="headline_area">
        <h2 class="entry-title">About GoneVirul</h2>
      </div><!--.headline_area-->
      <div class="format_text entry-content">
        <p>Thank you for your interest in GoneVirul.</p>
        <p>This Web site was started as a way to aggregate the many extraordinary stories that make their way around the web and social media all in one place. The best way to answer the most frequently asked questions is in simple Q and A form.</p>
        <p>Q. Can I submit a story to GoneVirul? Can you help me make it go viral?<br>
        A. If it’s a compelling story that I feel will gain traction in the social media world, absolutely yes. Please submit anything you feel is a good fit for the site: gonevirul@gmail.com</p>
        <p>Q. Who can I contact about advertising on GoneVirul?<br>
        A. Currently, I am not accepting new advertising inquiries. That could change in the future.</p>
        <p>Q. How do you classify GoneVirul? A news site? A personal blog? What is it?<br>
        A. It’s simply a story aggregation site – definitely not a news site or source of detailed information.</p>
        <p>Q. Can I work for you?<br>
        A. Maybe! Send your details and let me know what you want to do for GoneVirul: gonevirul@gmail.com. Always open to talking to smart individuals who can contribute.</p>
        <p>Thanks for reading. And thank you for visiting GoneVirul.</p>
        <p>&nbsp;</p>
      </div><!--.post-content .page-content -->
    </article>
  </div>
</div>