<% provide(:title, "Contact Us") %>
<div id="content" class="hfeed">
  <div class="page-single post_box">
    <article>
      <div class="headline_area">
        <h2 class="entry-title">Contact</h2>
      </div><!--.headline_area-->
      <div class="format_text entry-content">
        <p>If you would like to contact us, please do so at gonevirulsite@gmail.com</p>
        <p><em>Note: Please, no ad networks or interview requests at this time. Thank you.</em></p>
      </div>
    </article>
  </div>
</div>