<% provide(:title, "DMCA") %>
<div id="content" class="hfeed">
  <div class="page-single post_box">
    <article>
      <div class="headline_area">
        <h2 class="entry-title">DMCA Policy</h2>
      </div><!--.headline_area-->
      <div class="format_text entry-content">
        <p><strong>GoneVirul</strong> is in compliance with 17 U.S.C. * 512 and the Digital Millennium Copyright Act (DMCA). It is our policy to respond to any infringement notices and take appropriate actions under the Digital Millennium Copyright Act and other applicable intellectual property laws. If your copyrighted material has been posted on gonevirul.com&nbsp;and you want this material removed, you must provide a written communication that details the information listed in the following section. Please be aware that you will be liable for damages (including costs and attorneys’ fees) if you misrepresent information listed on our site that is infringing on your copyrights.</p>
        <p>The following elements must be included in your copyright infringement claim:</p>
        <p>- Provide evidence of the authorized person to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>
        <p>- Provide sufficient contact information so that we may contact you. You must also include a valid email address.</p>
        <p>You must identify in sufficient detail the copyrighted work claimed to have been infringed.</p>
        <p>- A statement that the complaining party has a good faith believe that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.</p>
        <p>- A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>
        <p>- Must be signed by the authorized person to act on behalf of the owner of an exclusive right that is allegedly being infringed.</p>
        <p>Send the infringement notice to the following address (or send electronic copy below):<br>
        DMCA Registered Agent<br>
        P.O. Box 1452<br>
        Framingham, MA 01701<br>
        United States</p>
        <p>Send the electronic copy to:<br>
        <strong>gonevirulsite@gmail.com</strong></p>
        <p>Once Proper Bona Fide Infringement Notification Is Received by the Designated Agent it is Company’s policy to do the following:<br>
        - Remove or disable access to the allegedly infringing material<br>
        - To notify the content provider, user or member that it has removed or disabled the material<br>
        - Repeat offenders will have the infringing material removed from the system and that Company’ will terminate said content provider’s access to the service.</p>                
      </div>
    </article>
  </div>
</div>