<div id="content" class="hfeed">
  <div class="page-single post_box">
    <article>
      <div class="headline_area">
        <h2 class="entry-title">Submit Content</h2>
      </div><!--.headline_area-->
      <div class="format_text entry-content">
        <p>Do you have a story you think would do well on GoneVirul? We might want to write about it. </p>
        <p>We often feature photographers’ galleries, compelling stories, every day occurrences that deserve attention, and just about anything else. We’ve helped raise awareness and money for dozens of individuals and companies by giving their stories the "virul" traction they need. </p>
        <p>Submit your story and details to: gonevirul@gmail.com </p>
        <p><em>By submitting text, photos, and video to GoneVirul, you agree that the content does not infringe or violate someone else’s rights or otherwise violates the law. You also grant us a royalty-free, perpetual, irrevocable, non-exclusive, unrestricted, worldwide license to publicly display your User Content on gonevirul.com.</em></p>
      </div>
    </article>
  </div>
</div>