<aside class="sidebar" style="position: absolute;top: 137px;left: 879px;right: -400px;">
  <div id="sidebars">
    <div class="sidebar">
      <ul class="sidebar_list">
        <li class="widget">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- GoneVirul_Vertical_Banner -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:160px;height:600px"
               data-ad-client="ca-pub-8318252795689818"
               data-ad-slot="8196338281"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </li>
        <li id="widget_recent_entries" class="widget widget-sidebar"><h3>Latest Stories</h3>
          <ul class="advanced-recent-posts">
            <% @blogssidebar.each do |blog| %>
              <li><a href="<%= blog_path(blog) %>" title="<%= blog.title %>"><% if blog.photos.present? %><img src="<%= blog.photos.first.landing_picture.url(:side_bar) %>" class="wp-post-image"><% end %></a><%= link_to blog.title, blog, title: blog.title %></li>
            <% end %>
          </ul>
        </li>
        <li id="facebook_like" class="widget widget-sidebar"><h3>Hey, Join Us On Facebook!</h3></li>
      </ul>
    </div>
  </div><!--sidebars-->
</aside>
<div class="top"><a href="#top">Back to Top ↑</a></div>